.jumbotron {
    text-align      : center;
    font-family     : 'Dancing Script', cursive;
    color           : #FFB6C1;
    background-color: #ede1d1
}

.card {
    text-align: center;
    margin    : 0 auto;

    float: none;

    margin-bottom: 10px;

}

 #map {
    height: 150px;
  } 