    /*
    Flaticon icon font: Flaticon
    Creation date: 10/01/2021 19:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-island:before { content: "\f100"; }
.flaticon-mountains:before { content: "\f101"; }
.flaticon-land:before { content: "\f102"; }
.flaticon-cityscape:before { content: "\f103"; }
.flaticon-cactus:before { content: "\f104"; }
.flaticon-money:before { content: "\f105"; }
.flaticon-money-1:before { content: "\f106"; }
.flaticon-cold:before { content: "\f107"; }
.flaticon-hot:before { content: "\f108"; }
.flaticon-thermometer:before { content: "\f109"; }
.flaticon-coins-1:before { content: "\f10a"; }
.flaticon-loupe:before { content: "\f10b"; }
.flaticon-search-location:before { content: "\f10c"; }
.flaticon-hot-1:before { content: "\f10d"; }
.flaticon-snowflake:before { content: "\f10e"; }
.flaticon-online-shopping:before { content: "\f10f"; }
.flaticon-shopping-bag:before { content: "\f110"; }
.flaticon-dance:before { content: "\f111"; }
.flaticon-microphone:before { content: "\f112"; }
.flaticon-karaoke:before { content: "\f113"; }
.flaticon-museum:before { content: "\f114"; }
.flaticon-masks:before { content: "\f115"; }
.flaticon-art-deco:before { content: "\f116"; }
.flaticon-hiking:before { content: "\f117"; }
.flaticon-hiking-1:before { content: "\f118"; }
.flaticon-bike:before { content: "\f119"; }
.flaticon-bicycle:before { content: "\f11a"; }
.flaticon-concert:before { content: "\f11b"; }
.flaticon-stage:before { content: "\f11c"; }
.flaticon-heart:before { content: "\f11d"; }
.flaticon-couple:before { content: "\f11e"; }
.flaticon-circus-tent:before { content: "\f11f"; }
.flaticon-ferris-wheels:before { content: "\f120"; }
.flaticon-sailing:before { content: "\f121"; }
.flaticon-surfboard:before { content: "\f122"; }
    
    $font-Flaticon-island: "\f100";
    $font-Flaticon-mountains: "\f101";
    $font-Flaticon-land: "\f102";
    $font-Flaticon-cityscape: "\f103";
    $font-Flaticon-cactus: "\f104";
    $font-Flaticon-money: "\f105";
    $font-Flaticon-money-1: "\f106";
    $font-Flaticon-cold: "\f107";
    $font-Flaticon-hot: "\f108";
    $font-Flaticon-thermometer: "\f109";
    $font-Flaticon-coins-1: "\f10a";
    $font-Flaticon-loupe: "\f10b";
    $font-Flaticon-search-location: "\f10c";
    $font-Flaticon-hot-1: "\f10d";
    $font-Flaticon-snowflake: "\f10e";
    $font-Flaticon-online-shopping: "\f10f";
    $font-Flaticon-shopping-bag: "\f110";
    $font-Flaticon-dance: "\f111";
    $font-Flaticon-microphone: "\f112";
    $font-Flaticon-karaoke: "\f113";
    $font-Flaticon-museum: "\f114";
    $font-Flaticon-masks: "\f115";
    $font-Flaticon-art-deco: "\f116";
    $font-Flaticon-hiking: "\f117";
    $font-Flaticon-hiking-1: "\f118";
    $font-Flaticon-bike: "\f119";
    $font-Flaticon-bicycle: "\f11a";
    $font-Flaticon-concert: "\f11b";
    $font-Flaticon-stage: "\f11c";
    $font-Flaticon-heart: "\f11d";
    $font-Flaticon-couple: "\f11e";
    $font-Flaticon-circus-tent: "\f11f";
    $font-Flaticon-ferris-wheels: "\f120";
    $font-Flaticon-sailing: "\f121";
    $font-Flaticon-surfboard: "\f122";